<!DOCTYPE html>
<html>
  <head  class="navbar navbar-fixed-top navbar-inverse">
    <title>Realen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body  class="jumbotron">
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
